<h1>Pending T-shirts</h1>

<ul>
  {{#each tshirts}}
  <li>
    {{this.name}} - {{this.price}} - {{this._owner.username}}<br>
    <img src="{{this.pictureUrl}}" alt=""> <br>
    <a href="/admin/validate-tshirt/{{this._id}}">Validate</a>
    <a href="/admin/remove-tshirt/{{this._id}}">Remove</a> <br> <br>
  </li>
  {{/each}}
</ul>